:root {
    --primary-color: #635985;
    --secondary-color: #443C68;
    --tertiary-color: #FFE6E6;
    --quaternary-color: #E1AFD1;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    user-select: none;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-weight: 600;
}

.sidebar {
    width: 90px;
    background-color: var(--primary-color);
    border-radius: 1px 10px 10px 0px;
    padding: 30px 30px;
    margin-right: 20px;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease;
    position: relative;
}

.sidebar:hover {
    width: 180px;
    margin-top: 40px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #d1d5db;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.2s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 8px;
    margin-left: 5px;
    transition: color 0.2s ease;
}

.sidebar a .sidebar-text {
    display: none;
    position: absolute;
    left: calc(15% + 10px);
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    transition: display 0.8s ease;
}

.sidebar:hover a .sidebar-text {
    display: block;
}

.sidebar:hover .username {
    display: block;
}

.sidebar .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
    object-fit: scale-down;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
}

.profile-info {
    display: flex;
    align-items: center;
}

.sidebar hr {
    border: none;
    border-top: 2px solid var(--quaternary-color);
    margin: 20px 0;
}

.container {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.card h1 {
    color: var(--tertiary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #d1d5db;
    font-size: 16px;
    line-height: 1.5;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 60%;
    max-width: 600px;
    cursor: help;
    border: 1px solid #cfcfcf;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal ul {
    list-style-type: none;
    padding: 0;
}

.modal li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.show {
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 999;
    cursor: crosshair;
    color: white;
}

.overlay.show {
    display: block;
}

#titlebar {
    -webkit-app-region: drag;
    background-color: var(--secondary-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#titlebar-controls {
    display: flex;
    align-items: center;
    order: -1;
    -webkit-app-region: no-drag;

}

.control-button {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.control-button:hover {
    cursor: pointer;
}

.control-button.minimize {
    background-color: #fdfdbc;

}

.control-button.maximize {
    background-color: #d3ffd3;

}

.control-button.close {
    background-color: #ff9494;

}

.control-button.minimize:hover {
    background-color: #ffff66;

}

.control-button.maximize:hover {
    background-color: #99ff99;

}

.control-button.close:hover {
    background-color: #ff4d4d;

}

#title {
    flex-grow: 1;

    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    color: #fff;

}

.button,
#sort-random-beat {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button:hover,
#sort-random-beat:hover {
    transform: scale(1.03);
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background-color: #4b5563;
}


::-webkit-scrollbar-thumb {
    background-color: #6b7280;

    border-radius: 5px;

}


::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;

}

.confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 60%;
    max-width: 600px;
    cursor: help;
    border: 1px solid #cfcfcf;
}

.confirm h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.confirm ul {
    list-style-type: none;
    padding: 0;
}

.confirm li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.show {
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}