:root {
    --primary-color: #0B132B;
    --secondary-color: #1C2541;
    --tertiary-color: #3A506B;
    --quaternary-color: #140152;
    font-family: Inter, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: 'wght' 450;
    user-select: none;
    /* position: relative; */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-weight: 500;
    transition: filter 0.5s ease;
}

.sidebar {
    user-select: none;
    width: 90px;
    background-color: var(--primary-color);
    border-radius: 1px 10px 10px 0;
    padding: 30px 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease;
    position: fixed;
    margin-right: 20px;
    margin-top: 30px;
    top: 0;
    left: 0;
    height: 100%;
    /* Ensure the sidebar spans the entire height */
    z-index: 1;
}

.sidebar:hover {
    width: 180px;
    margin-right: 20px;
    margin-top: 30px;
}

.container {
    margin-left: 120px;
    /* Adjust this value to avoid overlap with the sidebar */
    padding: 30px;
    /* Optional: Add padding for better aesthetics */
    transition: margin-left 0.2s ease;
    /* Smooth transition for margin change */
}

.sidebar:hover+.container {
    margin-left: 210px;
    /* Adjust this value according to the expanded width of the sidebar */
}

.sidebar a {
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.2s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 8px;
    margin-left: 5px;
    transition: color 0.2s ease;
}

.sidebar a .sidebar-text {
    display: none;
    position: absolute;
    left: calc(15% + 10px);
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 2;
    transition: display 0.8s ease;
}

.sidebar:hover a .sidebar-text {
    display: block;
}

.sidebar:hover .username {
    display: block;
}

.sidebar .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
    object-fit: scale-down;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.9s ease;
}

.profile-info {
    display: flex;
    align-items: center;
}

.sidebar hr {
    border: none;
    border-top: 2px solid var(--quaternary-color);
    margin: 20px 0;
}

.container {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    z-index: 3;
}

.card h1 {
    color: var(--tertiary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #d1d5db;
    font-size: 16px;
    line-height: 1.5;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 15;
    width: 60%;
    max-width: 600px;
    cursor: help;
    border: 2px solid #cfcfcf;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal ul {
    list-style-type: none;
    padding: 0;
}

.modal li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.show {
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 5;
    cursor: crosshair;
    color: white;
}

.overlay.show {
    display: block;
}

#titlebar {
    -webkit-app-region: drag;
    background-color: var(--secondary-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14;
}

#titlebar-controls {
    display: flex;
    align-items: center;
    order: -1;
    -webkit-app-region: no-drag;
}

.control-button {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.1s ease;
}

.control-button:hover {
    cursor: pointer;
}

.control-button.minimize {
    background-color: #FFCC00;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

.control-button.maximize {
    background-color: #4CD964;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

.control-button.close {
    background-color: #FF3B30;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.control-button.minimize:hover {
    background-color: #ffff66;
}

.control-button.maximize:hover {
    background-color: #99ff99;
}

.control-button.close:hover {
    background-color: #ff6c6c;
}

#title {
    flex-grow: 1;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    color: var(--tertiary-color);
}

#library-list {
    padding: 0;
    list-style: none;
}

#library-list li {
    padding: 20px 0;
    border-bottom: 1px solid #374151;
}

#library-list li:last-child {
    border-bottom: none;
}

#library-list li h2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

#library-list li p {
    color: #d1d5db;
    font-size: 16px;
    margin-bottom: 5px;
}

.library-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.library-item {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.1s ease;
    position: relative;
    z-index: 7;
    overflow: hidden;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    transition: filter 0.3s ease;
    z-index: -1;
    opacity: 1;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    transition: background 0.3s ease;
    z-index: 9;
    pointer-events: none;
}

.cover-overlay:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

@media (min-width: 900px) {
    .library-list {
        grid-template-columns: repeat(2, minmax(300px, 1fr));

    }
}

@media (min-width: 1600px) {
    .library-list {
        grid-template-columns: repeat(3, minmax(300px, 1fr));

    }
}

.library-item:hover {
    transform: scale(1.02);
    border-radius: 25px;
}

.library-item h2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.library-item p {
    color: #d1d5db;
    font-size: 16px;
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #4b5563;
}

::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
}

.button,
#sort-random-beat {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button:hover,
#sort-random-beat:hover {
    transform: scale(1.03);
    border-radius: 15px;
}

.context-menu {
    position: absolute;
    color: #fff;
    background-color: var(--secondary-color);
    border: 2px solid var(--quaternary-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    animation: fadeIn 0.3s cubic-bezier(0, 0.82, 0.64, 1.21) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 8px 20px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: var(--primary-color);
    transition: all 0.1s ease;
    border-radius: 10px;
}

.context-menu hr {
    border: none;
    border-top: 2px solid var(--quaternary-color);
    margin: 0px 20px 0;
}

.confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313131;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 13;
    width: 60%;
    max-width: 600px;
    cursor: help;
    border: 1px solid #cfcfcf;
    backdrop-filter: blur(25px);
    animation: fadeInModal 0.1s ease-in-out forwards;
}

.confirm.show {
    top: 50%;
}

.confirm.hide {
    top: 110%;
}

.confirm-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 13;
    transition: opacity 0.3s ease;
}

.confirm-overlay.show {
    display: block;
    opacity: 1;
}

.confirm-overlay.hide {
    opacity: 0;
}

.confirm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.confirm ul {
    list-style-type: none;
    padding: 0;
}

.confirm li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: white;
}

.confirm button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

#confirmation_text {
    margin-bottom: 15px;
    color: white;
}

#confirm_button {
    border: 2px #4CAF50 solid;
    color: white;
}

#cancel_button {
    border: 2px #f44336 solid;
    color: white;
}

.confirm button:hover {
    transform: scale(1.03);
    border-radius: 15px;
}

.confirm-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 13;
    transition: opacity 0.3s ease;
}

.confirm-overlay.show {
    display: block;
    opacity: 1;
}

.confirm-overlay.hide {
    opacity: 0;
}

@keyframes fadeInModal {
    from {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

#player-controls {
    position: fixed;
    bottom: 10px;
    left: 20%;
    right: 20%;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 5;
    transition: box-shadow 0.2s ease, border-radius 0.2s ease, transform 0.5s ease;
}

#player-controls:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#player-controls #current-time {
    color: var(--tertiary-color);
    margin-right: 3px;
    margin-left: 3px;
    min-width: 35px;
    text-align: right;
}

#player-controls #total-time {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
    margin-right: 15px;
    padding: 2px;
    min-width: 20px;
    text-align: right;
    cursor: pointer;
}

#track-progress {
    flex: 1;
    margin: 0 16px;
    margin-left: 15px;
    position: relative;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

#progress-ball,
#volume-ball {
    position: absolute;
    top: -2px;
    width: 11px;
    height: 11px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 15;
}

#progress-ball:hover,
#volume-ball:hover {
    cursor: pointer;
    transform: scale(1.2);
    border: 2px solid var(--tertiary-color);
}

#volume-slider {
    flex: 0.2;
    margin: 0 16px;
    margin-left: 15px;
    position: relative;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

#volume-slider input[type="range"] {
    width: 100%;
    background: transparent;
}

#volume-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: var(--tertiary-color);
    /* Ändern Sie die Hintergrundfarbe des Reglers */
    border-radius: 50%;
    cursor: pointer;
}

#volume-slider input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--tertiary-color);
    /* Ändern Sie die Hintergrundfarbe des Reglers */
    border-radius: 50%;
    cursor: pointer;
}

#volume-button {
    cursor: pointer;
    color: var(--tertiary-color);
}

#queue-button {
    cursor: pointer;
    font-size: 10px;
    color: var(--tertiary-color);
    margin-left: 10px;
}

#play-button {
    cursor: pointer;
    color: var(--tertiary-color);
    margin-right: 10px;
}

#shuffle-button {
    cursor: pointer;
    color: var(--tertiary-color);
    margin-right: 10px;
}

.search-sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Abstand zwischen den Elementen */
}

#sort-select {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px;
    border: 1px solid var(--quaternary-color);
    border-radius: 10px;
    font-size: 16px;
    width: auto;
    /* Anpassung, damit das Select-Element keine fixe Breite hat */
}

.search-container {
    position: relative;
    flex: 0.3;
    /* Nimmt den verfügbaren Platz ein */
}

.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--quaternary-color);
    background-color: var(--secondary-color);
    outline: none;
    font-size: 16px;
    color: var(--tertiary-color);
}

.autocomplete-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--secondary-color);
    border: 1px solid var(--quaternary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#search-bar::placeholder {
    color: var(--tertiary-color);
}

.autocomplete-option {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s;
    z-index: -1;
}

.autocomplete-option:hover {
    background-color: var(--primary-color);
    border-radius: 15px;
}

.no-results-message {
    padding: 10px;
    color: var(--primary-color);
}

@keyframes blink {
    0% {
        border-radius: 10px;
        border: 1px solid #00ff88;
    }

    50% {
        border-radius: 50px;
        border: 5px solid #d1d5db;
    }

    100% {
        border-radius: 10px;
        border: 1px solid #ff0000;
    }
}

.blink {
    animation: blink 1s infinite;
}

.custom-input {
    background-color: #ffffff73;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.loading-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    text-align: center;
}

.spinner {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    color: var(--primary-color);
}