:root {
  --primary-color: #0B132B;
  --secondary-color: #1C2541;
  --tertiary-color: #3A506B;
  --quaternary-color: #140152;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  user-select: none;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
  font-weight: 500;
  transition: filter 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tag-badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 500;
}

.card {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.card label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #d1d5db;

}

.card input[type="text"],
.card input[type="file"],
.card input[type="color"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: #6b7280;
  color: #f3f4f6;
  font-size: 16px;
}

.card button {
  width: calc(50% - 10px);
  padding: 12px 0;
  display: flex;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #4b5563;
  color: #f3f4f6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.card button:hover {
  background-color: #374151;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;

}

.button-container button {
  width: calc(33.33% - 0.5rem);
}

#titlebar {
  -webkit-app-region: drag;
  background-color: var(--secondary-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#titlebar-controls {
  display: flex;
  align-items: center;
  order: -1;
  -webkit-app-region: no-drag;
}

.control-button {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-color: #fff;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s ease;
}

.control-button:hover {
  cursor: pointer;
}

.control-button.minimize {
  background-color: #FFCC00;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}

.control-button.maximize {
  background-color: #4CD964;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

.control-button.close {
  background-color: #FF3B30;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.control-button.minimize:hover {
  background-color: #ffff66;
}

.control-button.maximize:hover {
  background-color: #99ff99;
}

.control-button.close:hover {
  background-color: #ff6c6c;
}

#title {
  flex-grow: 1;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
  color: var(--tertiary-color);
}

.button {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button:hover {
  transform: scale(1.03);
  border-radius: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.question {
  animation: fadeIn 0.5s ease forwards;
}