    :root {
      font-family: Inter, sans-serif;
      font-feature-settings: 'liga' 1, 'calt' 1;
      user-select: none;
    }

    @supports (font-variation-settings: normal) {
      :root {
        font-family: InterVariable, sans-serif;
      }
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #1f2937;
    }

    .question {
      width: 400px;
      max-width: 90%;
    }

    .tag-badge {
      display: inline-flex;
      align-items: center;
      padding: 4px 8px;
      margin-right: 8px;
      border-radius: 9999px;
      font-size: 12px;
      font-weight: 500;
    }

    .hidden {
      display: none;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .question {
      animation: fadeIn 0.5s ease forwards;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      max-width: 400px;
      width: 100%;
      padding: 40px;
      background-color: #111827;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
      text-align: center;
    }

    .card h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #f3f4f6;
    }

    .card label {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      color: #f3f4f6;
    }

    .card input[type="text"],
    .card input[type="file"],
    .card input[type="color"] {
      width: 100%;
      padding: 12px 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: none;
      background-color: #6b7280;
      color: #f3f4f6;
      font-size: 16px;
    }

    .card button {
      width: calc(50% - 10px);
      padding: 12px 0;
      display: flex;
      margin: 5px;
      border: none;
      border-radius: 8px;
      background-color: #4b5563;
      color: #f3f4f6;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
      justify-content: center;
    }

    .card button:hover {
      background-color: #374151;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      /* Abstand nach oben hinzufügen */
    }

    .button-container button {
      width: calc(33.33% - 0.5rem);
    }

    #titlebar {
      -webkit-app-region: drag;
      background-color: var(--secondary-color);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
    }

    #titlebar-controls {
      display: flex;
      align-items: center;
      order: -1;
      -webkit-app-region: no-drag;
      /* Ändert die Reihenfolge der Steuerungselemente, um sie auf die linke Seite zu verschieben */
    }

    .control-button {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: #fff;
      color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease;
    }

    .control-button:hover {
      cursor: pointer;
    }

    .control-button.minimize:hover {
      background-color: #ffff66;
    }

    .control-button.maximize:hover {
      background-color: #99ff99;
    }

    .control-button.close:hover {
      background-color: #ff4d4d;
    }

#title {
  flex-grow: 1;
  text-align: center;
  margin-left: -65px;
  color: #fff;
}