:root {
    --primary-color: #635985;
    --secondary-color: #443C68;
    --tertiary-color: #FFE6E6;
    --quaternary-color: #E1AFD1;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    user-select: none;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-weight: 600;
}

.sidebar {
    width: 90px;
    background-color: var(--primary-color);
    border-radius: 1px 10px 10px 0px;
    padding: 30px 30px;
    margin-right: 20px;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease;
    position: relative;
}

.sidebar:hover {
    width: 180px;
    margin-top: 40px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #d1d5db;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.2s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 8px;
    margin-left: 5px;
    transition: color 0.2s ease;
}

.sidebar a .sidebar-text {
    display: none;
    position: absolute;
    left: calc(15% + 10px);
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    transition: display 0.8s ease;
}

.sidebar:hover a .sidebar-text {
    display: block;
}

.sidebar:hover .username {
    display: block;
}

.sidebar .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
    object-fit: scale-down;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
}

.profile-info {
    display: flex;
    align-items: center;
}

.sidebar hr {
    border: none;
    border-top: 2px solid var(--quaternary-color);
    margin: 20px 0;
}

.container {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.card h1 {
    color: var(--tertiary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #d1d5db;
    font-size: 16px;
    line-height: 1.5;
}

#sort-random-beat:hover {
    filter: brightness(0.8);
}

.modal,
.design_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 60%;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid #cfcfcf;
    overflow-y: auto;
}

.modal h2,
.design_modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal ul {
    list-style-type: none;
    padding: 0;
}

.modal li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.modal::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

/* Griff der Scrollleiste */
.modal::-webkit-scrollbar-thumb,
.design_modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    /* abgerundete Ecken */
}

/* Bei Hover-Effekt auf die Scrollleiste */
.modal::-webkit-scrollbar-thumb:hover,
.design_modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.show {
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 999;
    color: white;
}

.overlay.show {
    display: block;
}

#titlebar {
    -webkit-app-region: drag;
    background-color: var(--secondary-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#titlebar-controls {
    display: flex;
    align-items: center;
    order: -1;
    -webkit-app-region: no-drag;
    /* Ändert die Reihenfolge der Steuerungselemente, um sie auf die linke Seite zu verschieben */
}

.control-button {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.control-button:hover {
    cursor: pointer;
}

.control-button.minimize {
    background-color: #fdfdbc;
    /* Hellere Hover-Farbe für minimize */
}

.control-button.maximize {
    background-color: #d3ffd3;
    /* Hellere Hover-Farbe für maximize */
}

.control-button.close {
    background-color: #ff9494;
    /* Hellere Hover-Farbe für close */
}

.control-button.minimize:hover {
    background-color: #ffff66;
    /* Lebendigere Hintergrundfarbe für minimize im Hover-Modus */
}

.control-button.maximize:hover {
    background-color: #99ff99;
    /* Lebendigere Hintergrundfarbe für maximize im Hover-Modus */
}

.control-button.close:hover {
    background-color: #ff4d4d;
    /* Lebendigere Hintergrundfarbe für close im Hover-Modus */
}

#title {
    flex-grow: 1; /* Flexibles Wachstum */
    text-align: center; /* Zentrierung des Textes */
    margin-left: -10%; /* Berechnung des linken Abstands */
    color: #fff; /* Textfarbe */
}

.beat-folders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.beat-folder {
    width: 100%;
    /* Ändere die Breite auf 100% */
    padding: 10px;
    border: 1px solid #4b5563;
    background-color: #1f2937;
    box-sizing: border-box;
    color: #d1d5db;
}

.folder-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-info p {
    margin: 0;
}

.folder-actions button {
    background-color: transparent;
    border: none;
    color: #d1d5db;
    cursor: pointer;
    transition: color 0.3s ease;
}

.folder-actions button:hover {
    color: #fff;
}

.modal-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Standard: Eine Spalte */
    gap: 20px;
    scroll-behavior: smooth;
    /* Abstand zwischen den Elementen */
}

/* Media Query für Bildschirmgrößen ab 768px */
@media screen and (min-width: 900px) {
    .modal-content {
        grid-template-columns: repeat(1, 1fr);
        /* Zwei Spalten */
    }
}

/* Media Query für Bildschirmgrößen ab 1024px */
@media screen and (min-width: 1024px) {
    .modal-content {
        grid-template-columns: repeat(2, 1fr);
        /* Drei Spalten */
    }
}

.theme-item {
    display: flex;
    flex-direction: column;
    /* Ändern Sie die Richtung auf Spalten */
    justify-content: space-between;
    /* Platzieren Sie den Inhalt an den Anfang und das Ende */
    align-items: flex-start;
    /* Platzieren Sie den Inhalt am Anfang der Spalte */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    transition: all 0.1s ease;
}

.add-button {
    background-color: #ffffff65;
    border: 2px solid #707070;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.1s ease;
    /* Positionieren Sie den Button am Ende des Containers */
}

.theme-item:nth-child(even) {
    margin-right: 0;
    /* Entferne den rechten Abstand für Kacheln mit geraden Index */
}

.theme-item:hover,
.add-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.theme-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.theme-name {
    font-size: 16px;
    font-weight: bold;
}

/* Container für die Theme-Bibliothek */
.theme-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box {
    width: 150px;
    /* Breite anpassen */
    height: 25px;
    /* Höhe anpassen */
    border-radius: 5px;
    /* Optional: Runde Ecken hinzufügen */
}

.fake-page-preview {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    /* Zentrieren des IFrames horizontal */
}

.fake-page-iframe {
    height: 190%;
    /* Anpassen der Höhe auf 60% der Bildschirmhöhe */
    width: 800%;
    /* Reduzieren der Breite auf 80% des verfügbaren Platzes */
    border: none;
    /* Entfernen der Rahmen des IFrames */
}